<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }} // {% endif %}runner.sh</title>
        <meta name="description" content="{{ page.description }}">

        <!-- Twitter Card -->
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="twitter:creator" content="@{{ site.twitter }}">

        <!-- Open Graph -->
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ site.name }}">

        <meta name="google-site-verification" content="{{ site.google_verify }}">
        {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
        <link rel="canonical" href="{{ canonical }}">
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.name }} Feed">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <style>
        body {
          font-family: 'Droid Sans', sans-serif;
        }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="main">
            <header>
              <h1>
                <a href="/">
                  ./runner.sh
                </a>
              </h1>

              <p id="baseline">
                Carnet d'entrainement, récits de course, etc ...
              </p>

              <nav role="navigation" id="top-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul>
                {% for link in site.links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
              </nav>
            </header>

            <div id="content">
              {{ content }}
            </div>

            <footer id="footer">
              <p id="footlinks">
                <a href="http://twitter.com/benjamin_ds" rel="me">Twitter</a>
                <a href="https://plus.google.com/+BenjaminDosSantos" rel="author">Google+</a>
                <a href="/atom.xml">RSS</a>
              </p>

              <p>© {{ site.time | date: "%Y" }} ./runner.sh</p>
            </footer>
        </div>

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'runner.sh');
        ga('send', 'pageview');
        </script>
    </body>
</html>
