<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% seo %}

    <!-- Cosmetic -->
    <meta name="theme-color" content="#222" />
    <meta name="msapplication-navbutton-color" content="#222" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <!-- Prefetch -->
    <link rel="dns-prefetch" href="https://bds.run" />
    <link rel="dns-prefetch" href="https://www.strava.com" />
    <link rel="dns-prefetch" href="https://strava-embeds.com" />
    <link
      rel="dns-prefetch"
      href="https://fonts.googleapis.com"
      data-proofer-ignore
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% feed_meta %}

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/pico.min.css" />
  </head>
  <body>
    <main class="container">
      <header>
        <hgroup>
          <h1>
            <a href="/">bds.run</a>
          </h1>
          <i>Carnet d'entrainement, récits de course, etc …</i>

          <nav>
            <ul>
              {% for link in site.links %}
              <li>
                <b><a href="{{ link.url }}">{{ link.title }}</a></b>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </hgroup>
      </header>

      <main>{{ content }}</main>

      <footer>
        <hr />
        <center>
          <small class="secondary">© {{ site.time | date: "%Y" }} bds.run</small>
        </center>
      </footer>
    </main>
  </body>
</html>
