---
layout: default
---

<article class="post">
  <header>
    <h2>{{ page.title }}</h2>
    <p class="meta quiet">
      <time pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{ page.date | date_to_long_string }}
      </time>
       - {{ page.categories | join: ', ' }}
    </p>
  </header>

  <section>{{ content }}</section>

  <footer>
    <section id="share">
      {% include share.html %}
    </section>

    <section id="related">
      <p><strong>Sur le même thème :</strong></p>
      {% include related_posts.html %}
    </section>
  </footer>
</article>

<section id="comments">
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">
    blog comments powered by <span class="logo-disqus">Disqus</span>
  </a>
</section>
